*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-branca);
    list-style: none;
    max-width: 100%;
}

body{
    background-color: #24292F;
}

.devicon-github-original{
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding: 20px 0;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width:60%;
    max-width: 960px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 25px 50px -12px;
    margin: 0 auto;
    padding: 30px;
}

.Conteudo-container{
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
}

.Conteudo-container h1{
    font-size: 20px;
    margin-bottom: 30px;
}

input[type=text]{
    width: 400px;
    font-size: 17px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid grey;
}


input[type=button]{
    width: 200px;
    font-size: 17px;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 7px;  
    cursor: pointer;
    border: 1px solid grey;
}

input[type=button]:hover{
    background-color: hotpink;
    color: white;
    border-color: white;    
}

.profile-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.profile-data .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .profile-data .info .data{
    padding: 40px;
    width: 50%;
  }

.profile-data .info img{
    width: 40%;
    border-radius: 50%;
    border: 10px solid hotpink;
}

.profile-data .info h1{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.container .profile-data .info p{
    font-size: 15px;  
    font-weight: 400;
    line-height: 23px;
}

/* REPOSITORIES */

.profile-data .repositories h2{
    margin-bottom: 30px;
    text-align: center;
}
  
.profile-data .repositories ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.profile-data .repositories ul li a{
    padding: 20px;
    border: 1px solid grey;  
    margin: 20px;
    display: block;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
  }
  
.profile-data .repositories ul li a:hover{
    background-color:hotpink;
    color: #fff
}

.section{
    padding: 70px 0;
}
  
.profile-data.hide{
    display: none;
}

@media (max-width: 1280px) {
    .container {
      flex-direction: column;
      width: 90%;
      border-radius: 20px;
    }
  
    .container .Conteudo-container {
      width: 100%;
    }
  
    .container .Conteudo-container h1 {
      font-size: 24px;
      text-align: center;
    }
}

@media (max-width: 768px) {
    .container .Conteudo-container #input-search,
    .container .Conteudo-container #btn-search
    {
      width: 100%;
    }
}
  
@media (max-width: 425px) {
    main {
      padding: 15% 0;    
    }
  
    .container .profile-data .info img{
      margin-bottom: 20px;
    }
  
    .container .profile-data .info img,
    .container .profile-data .info .data
    {
      width: 100%;
      padding: 0;
    }
}